@page "/createaccount"

@inject IStringLocalizer<Resource> localizer
@inject IRegisterViewModel _registerViewModel
@inject NavigationManager _navigationManager
@inject IToastService _toastService

<SpinLoader IsLoading="IsLoading">
    <LoadingTemplate>
        <div class="col-12" style="background-color: lightgray; height:400px; vertical-align:middle">
            <br /><br />
            <Chase Center="true" Color="blue" Size="70px"></Chase>
        </div>
    </LoadingTemplate>
    <ContentTemplate>
        <div class="card">
            <div class="card-header">
                <strong>@localizer["Register"]</strong>
            </div>
            <div class="card-body">
                <EditForm Model="@_registerViewModel" OnValidSubmit="@RegisterUser">
                    <DataAnnotationsValidator />
                    @* <ValidationSummary /> *@
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="text" @bind="_registerViewModel.FirstName" placeholder="@localizer["FirstName"]" class="form-control dark-theme-textbox">
                        <ValidationMessage For="@(()=>_registerViewModel.FirstName)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="text" @bind="_registerViewModel.LastName" placeholder="@localizer["LastName"]" class="form-control dark-theme-textbox">
                        <ValidationMessage For="@(()=>_registerViewModel.LastName)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="text" @bind="_registerViewModel.Username" placeholder="@localizer["Username"]" class="form-control dark-theme-textbox" autocomplete="new-username">
                        <ValidationMessage For="@(()=>_registerViewModel.Username)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="password" @bind="_registerViewModel.Password" placeholder="@localizer["Password"]" class="form-control dark-theme-textbox" autocomplete="new-password">
                        <ValidationMessage For="@(()=>_registerViewModel.Password)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="password" @bind="_registerViewModel.ReenterPassword" placeholder="@localizer["ReenterPassword"]" class="form-control dark-theme-textbox">
                        <ValidationMessage For="@(()=>_registerViewModel.ReenterPassword)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <input type="text" @bind="_registerViewModel.TenantCode" placeholder="@localizer["TenantCode"]" class="form-control dark-theme-textbox">
                        <ValidationMessage For="@(()=>_registerViewModel.TenantCode)" />
                    </div>
                    <br />
                    <div class="col-xl-6 col-md-8 col-12">
                        <button type="submit" class="btn btn-danger">@localizer["Register"]</button>
                        &nbsp;
                        <a style="font-weight: bold;" href="/">@localizer["Alreadyhaveanaccount"]</a>
                    </div>
                </EditForm>
                <hr class="white-horizontal-line" />
            </div>
        </div>
    </ContentTemplate>
</SpinLoader>

@code {
    private bool IsLoading { get; set; }

    private async Task RegisterUser()
    {
        IsLoading = true;
        UserState rs = await _registerViewModel.RegisterUser();
        IsLoading = false;
        if (UserState.Created == rs)
        {
            _toastService.ShowSuccess(localizer["CreateAccountSuccess"]);
            _navigationManager.NavigateTo($"/{true}");
        }
        else if (UserState.Existed == rs)
        {
            _toastService.ShowWarning(localizer["CreateAccountUserExisted"]);
        }

        
    }
}